body {
  margin: 0;
  background: black;
  cursor: crosshair;
}
canvas {
  display: block;
}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.pic-cont {
  background: transparent;
  position: fixed;
  align-items:center ;
  margin-top: 300px;

}

img {
  height: 50vh;
  width: 50vh;
  border-radius: 120px;

}